*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html body{
    font-family: 'athiti',serif;
    font-size: 18px;
    line-height: 1.5;
    background: #fdf7f7;
    font-weight: 500;
  
}

main{
    max-width:680px;
    margin:0 auto;
}

.logo{
    width:120px;
    display: block;
    margin:20px auto;
}

h1{
    font-size: 30px;
    font-family: 'athiti', serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin:20px;
}

.fa-star{
    color: #950000;
    font-size: 10px;
    display: flex;
    align-items: center;
    margin:5px;
}

nav ul{
    list-style: none;
    text-align: center;
    background: #ebe3db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 680px;
    margin:0 auto;
}

nav ul li{
    border: 1px solid #4c4343;
}

nav ul li a.active {
    background-color: #950000;
    color: white; 

}

nav ul li:hover {
    background-color: #950000;
}

nav ul li a:hover{
    color: #fdf7f7;
}

nav ul li a{
    text-decoration:none;
    font-weight: 500;
    font-size: 25px; 
    color: #4c4343;
}

nav li:nth-child(4){
    background: #4c4343;
}

nav ul li:nth-child(4) a{
    color: #fdf7f7;
}


footer{
    background-image: url(./images/footer-bg.jpg);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}

h4{
    font-family: 'merienda', serif;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #fdf7f7;
    border-bottom: 1px dashed #fdf7f7;
    padding: 10px;
    margin:20px 0;
}

h2{
    font-size: 25px;
    font-family: 'merienda', serif;
    display: flex;
    justify-content: center;
    margin-top:40px;
}

p{
    text-align: center;
    margin:20px;
    font-size: 15px;
}

.about-us{
    font-size: 12px;
    text-align: center;
}

strong{
    color: #950000;
    border-bottom: 1px dotted #950000;
}

form{
    background: #ebe3db;
    max-width: 680px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px;
    margin-top: 20px;
    margin:0 auto;
   
}



input{
    max-width:250px;
    height:40px;
    padding:10px;
    border-radius: 6px;
    margin:10px;
} 

.gauche{
    display: flex;
    flex-direction: column;
}

.droite{
    display: flex;
    flex-direction: column;
}


textarea{
    display: flex;
    flex-direction: column;
    max-width:520px;
    min-width: 400px;
    height:200px;
    padding:10px;
    border-radius: 6px;
    border: 2px solid black;
}

h3{
    font-family: 'merienda', serif;
    margin:10px;
}

button{
    width:95%;
    padding:10px;
    display: block;
    margin:20px auto;
    background: #4c4343;
    color: #fdf7f7;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover{
    background: #950000;
}

iframe{
    max-width:680px;
    width:100%;
    margin:20px 0;
}



.span-footer{
    font-size: 16px;
    color: #ebe3db;
    font-family: 'athiti', serif;
    display: block;
}

.contact span:nth-child(5){
    margin-top: 20px;
}

.fa-facebook-f, .fa-instagram, .fa-pinterest-p{
    color: #ebe3db;
    font-size: 25px;
    margin:5px;
    
}

@media screen and (min-width:780px) and (max-width:1099px){
    html body{
        max-width:1099px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1099px;
    }

    main{
        max-width: 1099px;
    }

    nav ul li{
        border:none;
        padding: 5px;
        
    }

    footer{
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 20px;
        padding-top: 0;
    }

    form{
        max-width: 85%;
        margin:0 auto;
    }

    input{
        width: 400px;
    }

    textarea{
        width:700px;
    }

    iframe{
        width:100%;
        display: block;
        margin:20px auto;
    }
}

@media screen and (min-width:1100px){
    main{
        max-width:1400px;
    }

    footer{
        width:100%;
       }
    
       nav{
        padding-bottom: 150px;
       }
    
        nav ul{
        display: flex;
        justify-content: right;
        position: absolute;
        top:50px;
        right:50px;
        background:none;
      }
    
      nav ul li{
        margin:0 10px;
        background: #ebe3db;
        border: none;
        padding: 5px;
      }
    
        .logo-site img{
            position: absolute;
            left:70px;
            top:10px;
        }
    
        h1{
            position:absolute;
            top:40px;
            left:180px;
        }
        
        footer{
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 20px;
            padding-top: 0;
        }

        form{
            margin-top: 10px;
        }

        iframe{
            display: block;
            margin:20px auto;
        }

}